.context-preview {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
}

.title-preview {
    font-weight: 600;
    font-size: 28px;
}

.searchbox-preview {
    background-color: var(--accent);
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    width: 100px;
    height: 20px;
}

.searchbox-preview .material-icons {
    color: var(--infos);
    font-size: 20px
}

@media (max-width: 830px) {
    .context-preview {
        flex-direction: column;
    }

    .title-preview {
        font-size: 40px;
    }

    .searchbox-preview {
        margin-top: 20px;
        width: 150px;
    }
}