.navbar-preview {
    background: var(--accent_2);
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30px;
}

.item {
    color: var(--infos);
    font-size: 20px;
    padding: 2.5px;
}

.item:last-child {
    margin-top: auto;
}

@media (max-width: 830px) {
    .navbar-preview {
        justify-content: space-between;
        flex-direction: row;
        position: absolute;
        width: 220px;
        height: 30px;
        bottom: 0;
    }
}