.img-container, .img-container * { border-radius: 20px }

.img-blur-container, .anime-img-container {
    align-items: center;
    height: 100%;
    width: 100%;
}

.img-container {
    width: calc(100vw - 20px);
    position: relative;
    height: 40vh;
}

.img-blur-container {
    filter: blur(1.2px) brightness(75%);
    background: var(--accent_2);
    overflow-y: hidden;
    position: absolute;
}

.img-blur {
    min-height: 100%;
    min-width: 100%;
    height: auto;
}

.anime-img-container {
    justify-content: center;
    z-index: 1;
}

.anime-img {
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,.3);
    background: var(--accent);
    height: 95%;
    margin: 5%;
}
