@charset "UTF-8";

@import './css/form.css';
@import './css/preview.css';

/* Aconselho Recolher essa barra para
 * visualizar melhor os temas. */
* {
    /* Reseta o Estilo da página */
    box-sizing: border-box;
    text-decoration: none;
    border: unset;
    padding: 0;
    margin: 0;
    
    /* Animação na mudança de temas */
    transition: background .3s;
}

.app, .form, .costum-theme { flex-direction: column }
.app, .app > *, .option { align-items: center; }
.color-selector { flex-flow: wrap row;}
.label { color: var(--accent)}
.app, .app * { display: flex }
.title { font-size: 2.5em; }

.costum-theme-option{
    justify-content: space-between;
}

.app {
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
}