@charset "UTF-8";

@import './css/form.css';

/* Aconselho Recolher essa barra para
 * visualizar melhor os temas. */
* {
    /* Reseta o Estilo da página */
    box-sizing: border-box;
    text-decoration: none;
    border: unset;
    padding: 0;
    margin: 0;
    
    /* Animação na mudança de temas */
    transition: background .3s;
}

.app, .form, .costum-theme { flex-direction: column }
.costum-theme-options { flex-flow: wrap column; }
.app, .app > *, .option { align-items: center; }
.app, .app * { display: flex }
.title { font-size: 2.5em; }
.label { color: var(--accent)}

.app {
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
