@import './costumizations/fonts.css';
@import './costumizations/themes.css';

* {
    box-sizing: border-box;
    text-decoration: none;
    border: unset;
    padding: 0;
    margin: 0;
}

.hide {
    display: none !important;
}

.show {
    display: flex !important;
}

.mobile {
    display: none !important;
}

::-webkit-scrollbar {
    background: var(--background_2);
    position: fixed !important;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

@media (max-width: 830px) {
    .mobile {
        display: flex !important;
    }

    .desktop {
        display: none !important;
    }
}