.full-desc-container {
    background: rgba(0,0,0,.3);
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 50;
}

.full-desc-modal {
    border: 1.5px solid var(--accent);
    max-height: calc(100vh - 5vmin);
    background: var(--background);
    border-radius: 20px;
    height: fit-content;
    text-align: justify;
    overflow-y: scroll;
    padding: 10px 20px;
    max-width: 95vmin;
    line-height: 2;
}


.full-desc-modal::-webkit-scrollbar {
    background: transparent;
}
