@charset "UTF-8";

/* estilos do conteúdo na página */
@import './css/fontawesome.css';
@import './css/mainpage.css';
@import './css/navbar.css';

/* Define o display para flex em toda a página por padrão */
.app, .app * {
    display: flex;
}

::-webkit-scrollbar {
    width: 0;
}

.mobile {
    display: none !important;
}

.loading-list {
    align-items: center;
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
}

.loading-list svg {
    height: 20px;
    width: 20px;
}

.selected {
    border-bottom: 2px solid currentColor !important;
}

@media (max-width: 830px) {
    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }
}