@charset "UTF-8";

/* estilos do conteúdo na página */
@import './css/fontawesome.css';
@import './css/mainpage.css';
@import './css/navbar.css';

/* Define o display para flex em toda a página por padrão */
.app, .app * {
    display: flex;
}

.loading-list {
    background: var(--background);
    color: var(--primary);
    align-items: center;
    border-radius: 5px;
    padding: 0px 5px;
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
}

.loading-list .loading {
    /* transform: scale(.25); */
    height: 15px !important;
    width: 15px !important;
    border-width: 2px;
    margin: 0px 5px;
}

.selected {
    border-bottom: 2px solid currentColor !important;
}