@import './content/animelist.css';

.content {
    flex-direction: column;
    max-width: 1200px;
    margin-top: 80px;
    align-items: center;
}

.top {
    justify-content: flex-end;
    width: calc(93vw - 76px);
    align-items: center;
    margin-bottom: 50px;
}

.tab-box .item {
    font-family: 'Montserrat', sans-serif;
    color: currentColor;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
}

.tab-box .item:not(:last-child) {
    border-right: 1px solid currentColor;
    padding-right: 7px;
}

.tab-box .item span {
    border-bottom: 2px solid transparent;
    transition: border .3s;
}

.tab-box .item:hover span{
    border-bottom: 2px solid currentColor;
}

@media (max-width: 830px) {
    .content {
        margin-top: 50px;
    }
}