body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header{
    position: fixed;
    width: 100%;
    padding: 20px;
    color: white;
    background: #963694;
    box-shadow: 0 0 8px black;
}

header .logo{
    font-size: 14pt;
    padding-left: 12px;
 }


main{
        padding-top: 15%;
    }

.content{
    margin: 10px;
    width: 90%;
    text-align: justify;
    clear: both;
}

main {
    transition-duration: .5s;
}

#lista{
    margin-left: 5%;
}

#anime, #video{
    display: none;
}

.anime img{
    width: 100% !important;

}

.anime{
    width: 150px;
    height: 100%;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

/* Modal (background) */
.loading {
  display: none;
  position: fixed;
  z-index: 999;
  left: 40%;
  top: 40%;
  border-radius: 10px;
    padding: 5px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.lista{
    padding-left: 0;
}

.lista  li{
    list-style: none;
    padding: 15px;
    border-bottom:solid 1px white;
    border-top: solid 1px white;
    background: #963694;
}

.lista a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#videoPlayer{
    width: 90%;
}